/* body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #1e1e1e;
  color: #ffffff;
}

header {
  background-image: linear-gradient(to bottom, rgba(7, 6, 6, 0.9), rgba(44, 35, 35, 0.7));
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.2s;
}

nav ul li a:hover {
  color: #bb86fc;
}

.hero {
  background-image: linear-gradient(to right, rgba(91, 78, 78, 0.8), rgba(147, 144, 144, 0.4));
  background-size: cover;
  color: #ffffff;
  padding: 30px 20px;
  text-align: center;
  border-radius: 5px;
}

.hero h2 {
  margin: 0;
  font-size: 1.4em;
  font-weight: bold;
}

.hero p {
  margin: 10px 0;
  font-size: 1em;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind preflight;

